body {
    padding: 30px;
}

.editable {
    -webkit-user-modify: read-write;        
}

#input { 
    border: 1px black solid;
    margin: 3px;
    white-space: pre;
}

#input .CodeMirror-scroll {
    overflow: auto;
    height: 200px;
}

#editor-header {
    margin: 3px;
    margin-bottom: 0px;
    border: 1px solid black;
    border-bottom: 0px;
}

#editor-footer {
    margin: 3px;
    margin-top: 0px;
    border: 1px solid black;
    border-top: 0px;
}

.hint-small {
    display: inline;
    color: gray;
    font-family: arial;
    font-size: 12;
}

.hint {
    display: inline;
    color: gray;
    font-family: arial;
}


.header {
    font-size: 25;
    margin-top: 10px;

}

.shortcut {
    font-family: monospace;
    font-size: 11;
    color: blue;
}

#editor-body {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    margin: 3px;
    margin-top: -9px;
    margin-bottom: -9px;
    padding-left: 20px;
}



#output {
    border: 1px black solid;
    -webkit-user-modify: read-write;
    margin: 3px;
    white-space: pre;

}

#copy-to-clipboard-button {
    display: inline;
    content: url(clipboard.png);
    border: 1px solid black;
    width: 30px;
}

#submit {
    border: 1px solid black;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;
    margin: 3px;
    -webkit-transition-property:transform;
    -webkit-transition-duration:0.1s;
    -webkit-transition-timing-function:ease-out;    
}

#submit:hover {
    -webkit-transform:rotate(-10deg) scale(1.5);
}

#submit:active {
    background-color: gray;
}

.error {
    border-color: red !important;
}

.success {
    border-color: lightgreen !important;
}

